#container {
    margin: 0px auto;
    width: 700px;
}

#month, #month * {
    box-sizing: content-box;
}

#month {
    width: 700px;
    height: 300px;
    padding: 0;
    margin: 0;
    float: left;
    outline: 1px solid #b4b4b4;
}

#month .day {
    width: 100px;
    height: 100px;
    outline: 1px solid #b4b4b4;
    float: left;
    line-height: 88px;
    text-align: center;
    font-size: 50px;
}

#menu {
    height: 306px;
    width: 150px;
    padding-left: 35px;
    float: left;
}

.hidden {
    display: none;
}

#DaysOfTheWeek {
    color: green;
}

#Sunday {
    margin-left: 25px;
}

#Monday {
    margin-left: 47px;
}

#Tuesday {
    margin-left: 48px;
}

#Wednesday {
    margin-left: 30px;
}

#Thursday {
    margin-left: 30px;
}

#Friday {
    margin-left: 46px;
}

#Saturday {
    margin-left: 50px;
}

#year {
    text-align: center;
    font-size: 25pt;
}

#leftangle {
    margin-right: 10px;
}

#rightangle {
    margin-left: 10px;
}
